#canvas {
    width: 100%;
}
#name {
    color: white;
    background-color: blue;
}
.name {
    color: white;
    background-color: blue;
}
body {
    background-color: chocolate;
}
button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
canvas {
    background-color: honeydew;
}
footer {
    background-color: bisque;
}
header {
    background-color: brown;
}
main {
    background-color: blanchedalmond;
}